name: terraform-ci

on:
  pull_request:
    paths:
      - "infra/**"
  push:
    branches: [ "main" ]
    paths:
      - "infra/**"

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/envs/dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init

      - name: Terraform validate
        run: terraform validate

      - name: Install tfsec
        run: |
          curl -s https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash

      - name: tfsec scan (fail only on HIGH/CRITICAL)
        run: tfsec . --tfvars-file terraform.tfvars --minimum-severity HIGH

      - name: Install Checkov
        run: pip3 install checkov

      - name: checkov scan (do not fail build in Week 2)
        run: checkov -d . --quiet || true

